// Colors
$black: #000000
$dark-gray: #292929
$light-blue: #4895ef
$blue: #4361ee
$pink: #ff1053
$dark-white: #eeeeee
$white: #ffffff

// Fonts
$bowlby: 'Bowlby One SC', cursive
$roboto: 'Roboto', sans-serif